body {
    background-color: #def598;


}

header {
    display: flex;
    justify-content: space-between;
    background-size: contain;
    /* Escalar la imagen para cubrir el fondo */
    padding: 10px;
    /* Añade un espacio entre los elementos */
    border-radius: 1rem;
    
    background-color: #eefab1;
    
}
.navbar-nav .nav-item {
    margin-left: 11rem;
    
  }
  .navbar-nav .nav-item:hover {
    background-color:  #98df87;
    border-radius: 2rem; 
  }
#logoempresa {
    width: 190px;
    /* Ancho de la imagen */
    border-radius: 4rem;
    margin-left: 2rem;
}

/* Reglas para hacer la página responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

}

.imgatencionalcliente {
    position: relative;
    overflow: hidden;
}

#atencionalcliente {
    position: relative;
    max-height: 450px;
}

#atencionalcliente img {
    width: 100%;
    height: auto;
    filter: blur(1px);
    /*valor según el nivel de difuminado que desees */
    -webkit-mask-image: linear-gradient(to right, transparent, black);
    /* Máscara que oculta la mitad derecha */
    mask-image: linear-gradient(to right, transparent, black);
}

#atencionalcliente div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-82%, -50%);
    text-align: center;
    width: 100%;
    color: #87e918;

    
}
@media (max-width: 768px) {
    #imgatencionalcliente img {
        max-height: 300px; /* O el valor que prefieras para dispositivos más pequeños */
    }
    #lineaatencion{
        margin-left: 4rem;
        text-align: end;
    
    }
}


h2 {
    font-family: Fira Sans;
    font-weight: bold;
}

form {
    background-color: #96e370;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 10px;

}

label {
    display: inline-block;
    margin-bottom: 10px;
    color: black;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #8ccb46;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    background-color: white;
    color: black;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px; /* Ajusta el margen derecho según tus necesidades */
    vertical-align: middle; /* Alinea verticalmente el checkbox con el texto del label */
   
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #4cc72a;
    color: white;
}